#content{
  font-family: "Segoe7", "Tahoma";
  width: 75%;
  margin: 32px auto;
  padding: 32px;
  background: url("./themes/reflections.png"), #f5d8ff8c;
  background-size: cover;
  box-shadow: inset -1px -1px 0px 0px #ff00e2, inset 0.1px 0.1px 1px 1px rgb(255 255 255 / 20%), 0px 0px 15px #000000;
  border-radius: 10px;
  border: 1px solid black;
}

@font-face {
  font-family: Segoe7;
  src: url("https://files.catbox.moe/7yqelg.ttf");
}

@font-face{
  font-family: "Tahoma";
  src: url("./Tahoma.woff");
}
body{
  background-color: #4c0060;
  align-items: center;
}
@keyframes rainbowtxt {
  from{filter:hue-rotate(0deg)}
  to{filter:hue-rotate(360deg)}
}
.rainb {
  color:red;
  animation: rainbowtxt 1s linear infinite;
}