#login{
  background: url("/themes/5112bg.png");
  background-size: 100% 100%;
}

#loading{
  top: 50%;
  transform: translate(-140px, -120px);
  font-weight: normal;
  font-style: normal;
  font-size: 20px;
  letter-spacing: 0px;
  text-shadow: 0px 0px 1px rgba(0,0,0,0.6);
  color: white;
}

#logologinonbg{
  top: -50px;
  left: -40px;
  position: relative;
  width: 250px;
  height: 275px;
  background: url(/themes/logol.png);
  opacity: 0.6;
  background-size: 100%;
}

#send_button{
  display: inline-block;
  width: 100px;
  height: 32px;
  background-image: url(/5048startbuttonmod.png);
  background-size: 100px 100px;
}
#send_button:hover{
  background-position: 0px -33px;
}
#send_button:active{
  background-position: 0px -66px;
}
#send_button span{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  margin-left: 36px;
  font-size: 16px;
  font-style: normal;
  font-weight: normal;
  color: white;
  letter-spacing: 2px;
  text-shadow: 1px 1px 2px rgba(0,0,0,0.75);
}

*{
  font-family: "Segoe7", "Tahoma";
}

#readme_block{
  left: 50%;
  bottom: 8%;
  transform: translateX(-50%);
  background-color: #ffffff3b;
  padding: 9px 12px;
  border-radius: 3px;
  border: 1px solid #383838;
  color: #ffffff;
  text-align: center;
}

#card_login input {
  width: 170px;
  box-sizing: border-box;
  border: none; 
  margin-left: 65px;
  bottom: 4px;
  position: relative;
  outline: none;
  border-radius: 3px;
  padding: 4px 3px;
  box-shadow: 0px 0px 0px rgba(0,0,0,0);
}

#login_button {
  position: absolute;
  top: 70%;
  left: 258px; 
  background-image: url("/themes/login7button.png");
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  background-size: 100%;
}

#room_info {
  color: rgba(255, 255, 255, 255);
  font-weight: normal;
  line-height: 1.25;
  text-align: right;
  padding: 7px;
  font-size: 12px;
  position: absolute;
  bottom: 30px;
  right: 0;
}

#nickname{
  height: 19px;
  font-size: 12px;
  top: 5px;
}
#room{
  height: 18px;
  font-size: 12px;
  margin-top: 15px;
  top: -4px;
}

@font-face {
  font-family: Segoe7;
  src: url("https://files.catbox.moe/7yqelg.ttf");
}

#card_border{
  position: relative;
  margin-left: -140px;
  margin-top: -70px;
  width: 250px;
  padding: 1px;
  background: transparent;
  border-radius: 0px;
}

#top_bar, #bottom_bar{
  background-color: #37009C;
}
#top_bar div{
  background: linear-gradient(to right, #340399, rgba(255, 255, 255, 0.85) 25%, rgba(0,0,0,0));
}
#bottom_bar{
  background: linear-gradient(to right, #8934AE, #37009C);
}
#bottom_bar div{
  background: linear-gradient(to right, #340399, #D9F638 25%, rgba(0,0,0,0));
}

#card_login{
  background: url("/img/assets/loginpfp.png");
}

#readme_block{
  color: #ffffff;
}

#content{
  background-color: black;
  background-image: url("/img/assets/image0a.jpg"); /* /img/assets/fiveoneonetwowlp.png */
  background-size: cover;
}

/*CHATBAR*/
#chatbar_cont{
  background-color: #000000;
  background-image: url("/themes/5048taskbar.png");
}

#chatbar{
  position: absolute;
  top: 3px;
  font-size: 15px;
  width: calc(100% - 132px);
}
#tile{
  background-image: url(/img/tile.png);
  background-color: transparent;
  border: 0px solid rgb(0 0 0 / 0%);
}

#log_title, .msWindow_title{
  margin: 4px 0px 4px 4px;
  color: #002045;
  font-size: 12px;
  text-shadow: 0px 0px 8px rgb(255 255 255), 0px 0px 8px rgb(255 255 255), 0px 0px 8px rgb(255 255 255), 0px 0px 8px rgb(255 255 255), 0px 0px 8px rgb(255 255 255);
}

#log_cont, .msWindow_cont{
  backdrop-filter: blur(4px);
  position: absolute;
  border: 0.1px solid #0000005e;
  box-sizing: border-box;
  background: url("/5060reflections.png"), linear-gradient(90deg, #ffffff8f, #00000008, #ffffff57), #f5d8ff8c; /* #d8efff8c */
  background-size: cover;
  box-shadow: inset 0.1px 0.1px 1px 1px rgb(255 255 255 / 20%), 0px 0px 15px #000000;;
  padding: 0px 5px 5px 5px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  z-index: 1;
  animation: fadeIn 0.2s ease-out;
}

.msBtn{
clear: left;
font-size: 13px;
padding: 2px 15px;
color: #2a004a;
background: linear-gradient(#f2f2f2 45%, #b7b7b7 45%, #ffffff);
border: 1px solid #848484;
box-shadow: inset 0 0 0 1px #fffc;
outline: 0px solid rgb(0 0 0 / 0%);
border-radius: 3px;
}
.msBtn:hover{
border: 1px solid #9560b0;
background: linear-gradient(#fcf2ff 45%, #e8a7ff 45%, #f8e4ff);
}
.msBtn:active{
border: 1px solid #9560b0;
background: linear-gradient(#f8e0ff 45%, #d560ff 45%, #ecb6ff);
}

.log_close{
  position: relative;
  border: 1px rgb(0 0 0 / 70%);
  box-shadow: inset 0 0 0 1px #51515180;
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAsAAAAKCAYAAABi8KSDAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAACUSURBVHgBlZFNCoQwDIVbmRvOMHOAAd0K/uDGlYKiCG4VPICi9yu0oCSQoFUXFtKEl6+voZXvr7sKay1TL690FOexY+Hz87i2decOuDKQsNGVe8AGYTRJIh0Y+orBvxszCPllOymlxN06jNE26Qnwg4zdHQLrMhFaawwAqAadDPE1ijwUxhiMKCmxCZk06OMYTz5lAx3xWDeXkLNAAAAAAElFTkSuQmCC) no-repeat 50%, linear-gradient(hsla(0, 0%, 100%, .5), hsla(0, 0%, 100%, .3) 45%, rgba(0, 0, 0, .1) 50%, rgba(0, 0, 0, .1) 75%, hsla(0, 0%, 100%, .5)), radial-gradient(circle at -60% 50%, #0007 5% 10%, #0000 50%), radial-gradient(circle at 160% 50%, #0007 5% 10%, #0000 50%), linear-gradient(#dddddd, #cf796a00 25% 50%, #d54f3600 50%);
  width: 40px;
  height: 16px;
  left: -2;
  top: -5;
  font-size: 18px;
  padding: 0;
  color: #ffffff00;
  border-radius: 0px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  float: right;
  margin-left: 5px;
  cursor:pointer;
  transition: background-image 0.2s ease-out;
}
.log_close:hover{
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAsAAAAKCAYAAABi8KSDAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAACUSURBVHgBlZFNCoQwDIVbmRvOMHOAAd0K/uDGlYKiCG4VPICi9yu0oCSQoFUXFtKEl6+voZXvr7sKay1TL690FOexY+Hz87i2decOuDKQsNGVe8AGYTRJIh0Y+orBvxszCPllOymlxN06jNE26Qnwg4zdHQLrMhFaawwAqAadDPE1ijwUxhiMKCmxCZk06OMYTz5lAx3xWDeXkLNAAAAAAElFTkSuQmCC) no-repeat 50%, linear-gradient(hsla(0, 0%, 100%, .5), hsla(0, 0%, 100%, .3) 45%, rgba(0, 0, 0, .1) 50%, rgba(0, 0, 0, .1) 75%, hsla(0, 0%, 100%, .5)), radial-gradient(circle at -60% 50%, #0007 5% 10%, #0000 50%), radial-gradient(circle at 160% 50%, #0007 5% 10%, #0000 50%), linear-gradient(#ffdd00, #e3ce00 25% 50%, #fff500 50%);
  box-shadow: inset 0 0 0 1px #51515180, 0px 0px 10px yellow;
}
.contextmenu_cont{
  margin: 0;
  position: fixed;
  list-style-type: none;
  z-index: 3;
  background-color: white;
  color: black;
  padding: 2px;
  border: 1px solid grey;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.4);
  user-select: none;
  white-space: nowrap;
  transition: 0.5s;
}
.cmenu_item, .cmenu_disabled{
  padding: 4px 22px;
  position: relative;
  font-size: 12px;
}
.cmenu_disabled{
  color: grey;
}
.cmenu_item:hover{
  background-color: #f0bbff;
  color: black;
  cursor: pointer;
}
.cmenu_list:after{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  content: '';
  border-style: solid;
  width: 0;
  height: 0;
  z-index: 4;
  border-width: 3px 0 3px 3px;
  border-color: transparent transparent transparent black;
  right: 6px;
}

@keyframes fadeIn {
  0% {
      opacity: 0
  }
  to {
      opacity: 1
  }
  0%{transform: scale(0.95)}
}

@keyframes fadeIn2 {
  0% {a
      opacity: 0
  }
  to {
      opacity: 1
  }
}

#pollyes{
  background-color: rgb(94 255 0 / 30%);
}
#pollno{
  background-color: rgb(255 0 0 / 30%);
}
#innerbar_yes{
  background-color: transparent;
  background-image: url(/yes5060a.png);
  background-size: 100% 100%;
  image-rendering: pixelated;
  animation: fadeIn2 0.5s ease-out;
}
#innerbar_no{
  background-color: transparent;

  background-image: url(/no5060.png);
  background-size: 100% 100%;
  image-rendering: pixelated;
  animation: fadeIn2 0.5s ease-out;
}

.icon {
  position:relative;
  margin-top:10px;
  gap:5px;
  color:white;
  width:80px;
  height:80px;
  display:flex;
  flex-direction:column;
  align-items: center;
  text-align: center;
  z-index:999;
  justify-content: center;
  text-shadow: 1px 1px black;
}
.icon img{
  width:45px;
  height:45px;
}