#login{
  background: url("/themes/5112bg.png");
  background-size: 100% 100%;
}

#loading{
  top: 50%;
  transform: translate(-140px, -120px);
  font-weight: normal;
  font-style: normal;
  font-size: 20px;
  letter-spacing: 0px;
  text-shadow: 0px 0px 1px rgba(0,0,0,0.6);
  color: white;
}

#logologinonbg{
  top: -50px;
  left: -40px;
  position: relative;
  width: 250px;
  height: 275px;
  background: url(/themes/logol.png);
  opacity: 0.6;
  background-size: 100%;
}

#send_button{
  display: inline-block;
  width: 100px;
  height: 32px;
  background-image: url(/themes/5112startbutton.png);
  background-size: 100px 98px;
}
#send_button:hover{
  background-position: 0px -33px;
}
#send_button:active{
  background-position: 0px -66px;
}
#send_button span{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  margin-left: 36px;
  font-size: 16px;
  font-style: normal;
  font-weight: normal;
  color: white;
  letter-spacing: 2px;
  text-shadow: 1px 1px 2px rgba(0,0,0,0.75);
}

*{
  font-family: "Tahoma";
}

#readme_block{
  left: 50%;
  bottom: 8%;
  transform: translateX(-50%);
  background-color: #ffffff3b;
  padding: 9px 12px;
  border-radius: 3px;
  border: 1px solid #383838;
  color: #ffffff;
  text-align: center;
}

#card_login input {
  width: 170px;
  box-sizing: border-box;
  border: none; 
  margin-left: 65px;
  bottom: 4px;
  position: relative;
  outline: none;
  border-radius: 3px;
  padding: 4px 3px;
  box-shadow: 0px 0px 0px rgba(0,0,0,0);
}

#login_button {
  position: absolute;
  top: 70%;
  left: 258px; 
  background-image: url("/themes/login7button.png");
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  background-size: 100%;
}

#room_info {
  color: rgba(255, 255, 255, 255);
  font-weight: normal;
  line-height: 1.25;
  text-align: right;
  padding: 7px;
  font-size: 12px;
  position: absolute;
  bottom: 30px;
  right: 0;
}

#nickname{
  height: 19px;
  font-size: 12px;
  top: 5px;
}
#room{
  height: 18px;
  font-size: 12px;
  margin-top: 15px;
  top: -4px;
}

@font-face {
  font-family: Segoe7;
  src: url("https://files.catbox.moe/7yqelg.ttf");
}

#card_border{
  position: relative;
  margin-left: -140px;
  margin-top: -70px;
  width: 250px;
  padding: 1px;
  background: transparent;
  border-radius: 0px;
}

#top_bar, #bottom_bar{
  background-color: #37009C;
}
#top_bar div{
  background: linear-gradient(to right, #340399, rgba(255, 255, 255, 0.85) 25%, rgba(0,0,0,0));
}
#bottom_bar{
  background: linear-gradient(to right, #8934AE, #37009C);
}
#bottom_bar div{
  background: linear-gradient(to right, #340399, #D9F638 25%, rgba(0,0,0,0));
}

#card_login{
  background: url("/img/assets/loginpfp.png");
}

#readme_block{
  color: #ffffff;
}

#content{
  background-color: black;
  background-image: url("/img/assets/fiveoneonetwowlp.png"); /* we have to replace the wallpaper with the XP one /img/assets/fiveoneonetwowlp.png */
  background-size: cover;
}

/*CHATBAR*/
#chatbar_cont{
  background-color: #000000;
  background-image: url("/themes/5259taskbar.png");
  background-size: 100% 100%;
}

#log_body, .msWindow_body {
  background-color: #E9E9E9;
}

#chatbar{
  position: absolute;
  top: 3px;
  font-size: 15px;
  width: calc(100% - 132px);
}
#tile{
  background-image: url(/img/tile.png);
  background-color: transparent;
  border: 0px solid rgb(0 0 0 / 0%);
}

#log_title, .msWindow_title{
  margin: 4px 0px 7px 4px;
  color: #000000;
  font-size: 15px;
  top: 4px;
  position: relative;
  font-family: "Arial", "Tahoma";
  text-shadow: 0px 0px 15px rgb(255 255 255), 0px 0px 15px rgb(255 255 255), 0px 0px 15px rgb(255 255 255), 0px 0px 15px rgb(255 255 255), 0px 0px 15px rgb(255 255 255);
}

#log_cont, .msWindow_cont{
  backdrop-filter: blur(0px);
  position: absolute;
  border: 0.1px solid #0000005e;
  box-sizing: border-box;
  background: linear-gradient(180deg, #ecddef, #c0afc5 30%); /* #d8efff8c */
  background-size: cover;
  box-shadow: inset 1px -1px 0px 0px #b200ff73, inset 0.1px 0.1px 1px 1px rgb(255 255 255 / 50%), 0px 0px 15px #00000085;
  padding: 0px 9px 9px 9px;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
  z-index: 1;
}

.msBtn{
clear: left;
font-size: 13px;
padding: 2px 15px;
color: #222;
background: linear-gradient(#f2f2f2 45%, #ebebeb 45%, #cfcfcf);
border: 1px solid #8e8f8f;
box-shadow: inset 0 0 0 1px #fffc;
outline: 0px solid rgb(0 0 0 / 0%);
border-radius: 3px;
}
.msBtn:hover{
border: 1px solid #9560b0;
background: linear-gradient(#fceafd 45%, #f1befd 0, #e3a7f5);
}
.msBtn:active{
border: 1px solid #9560b0;
background: linear-gradient(#f7e5fc, #e7c4f6 30% 50%, #d998ef 50%, #c068db);
}

.log_close{
  position: relative;
  border: 1px rgb(0 0 0 / 0%);
  box-shadow: inset 0 0 0 1px #51515100;
  background: url(https://files.catbox.moe/qleirj.png) no-repeat 50%;
  width: 16px;
  height: 16px;
  left: -1px;
  top: 1px;
  font-size: 18px;
  padding: 0;
  color: #ffffff00;
  border-radius: 0px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  float: right;
  margin-left: 5px;
  cursor:pointer;
}
.log_close:hover{
  background: url(https://files.catbox.moe/qleirj.png) no-repeat 50%;
  box-shadow: inset 0 0 0 1px #51515100;
}
.contextmenu_cont{
  margin: 0;
  position: fixed;
  list-style-type: none;
  z-index: 3;
  background-color: white;
  color: black;
  padding: 2px;
  border: 1px solid grey;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.4);
  user-select: none;
  white-space: nowrap;
  transition: 0.5s;
}
.cmenu_item, .cmenu_disabled{
  padding: 4px 22px;
  position: relative;
  font-size: 12px;
}
.cmenu_disabled{
  color: grey;
}
.cmenu_item:hover{
  background-color: #f0bbff;
  color: black;
  cursor: pointer;
}
.cmenu_list:after{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  content: '';
  border-style: solid;
  width: 0;
  height: 0;
  z-index: 4;
  border-width: 3px 0 3px 3px;
  border-color: transparent transparent transparent black;
  right: 6px;
}

@keyframes fadeIn {
  0% {
      opacity: 0
  }
  to {
      opacity: 1
  }
  0%{transform: scale(0.95)}
}

@keyframes fadeIn2 {
  0% {a
      opacity: 0
  }
  to {
      opacity: 1
  }
}

#pollyes{
  background-color: rgb(0 255 0 / 30%);
}
#pollno{
  background-color: rgb(255 0 0 / 30%);
}
#innerbar_yes{
  background-color: #00ff00;
  background-image: linear-gradient(180deg, #f3f3f3af, #fcfcfcab 15px, #dbdbdbaf 6px, transparent 0), radial-gradient(circle at 0 50%, #0000002f 10px, transparent 30px), radial-gradient(circle at 100% 50%, #0000002f 10px, transparent 30px), linear-gradient(180deg, transparent 65%, #ffffff55), linear-gradient(180deg, transparent 6px, #cacaca33 0, #d5d5d533);
  animation: fadeIn2 0.5s ease-out;
}
#innerbar_no{
  background-color: #ff0000;
  background-image: linear-gradient(180deg, #f3f3f3af, #fcfcfcab 15px, #dbdbdbaf 6px, transparent 0), radial-gradient(circle at 0 50%, #0000002f 10px, transparent 30px), radial-gradient(circle at 100% 50%, #0000002f 10px, transparent 30px), linear-gradient(180deg, transparent 65%, #ffffff55), linear-gradient(180deg, transparent 6px, #cacaca33 0, #d5d5d533);
  animation: fadeIn2 0.5s ease-out;
}

.icon {
  position:relative;
  margin-top:10px;
  gap:5px;
  color:white;
  width:80px;
  height:80px;
  display:flex;
  flex-direction:column;
  align-items: center;
  z-index:999;
  justify-content: center;
  text-shadow: 1px 1px black;
}
.icon img{
  width:65px;
  height:65px;
}